<div class='container'>
<div class='d-flex justify-content-between'>
		<div class='p-2'>
			<h1>My Properties </h1>
		</div>
		<div class='mr-auto p-2'>
			<%= link_to 'Create new Property', new_profile_property_path %>
		</div>
	</div>

	<div class='row align-middle'>
		<%= render @resources %>
	</div>
</div>
