input[type="text"], input[type="password"], textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc; /* You can adjust the color and thickness of the outline */
}

.centeralize {
    width: 80%;
    margin: auto;
}
